@keyframes forwarder {
    0% {
        transform: translateX(0rem);
        opacity: 1
    }
    49% {
        transform: translateX(-2rem);
        opacity: 0
    }
    51% {
        transform: translateX(2rem);
        opacity: 0
    }
    100% {
        transform: translateX(0rem);
        opacity: 1
    }
}

@keyframes backwarder {
    0% {
        transform: translateX(0);
        opacity: 1
    }
    49% {
        transform: translateX(2rem);
        opacity: 0
    }
    51% {
        transform: translateX(-2rem);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes num-forwarder {
    0% {
        transform: translateY(0);
        opacity: 1
    }
    49% {
        transform: translateY(0.5rem);
        opacity: 0
    }
    51% {
        transform: translateY(-0.5rem);
        opacity: 0
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes num-backwarder {
    0% {
        transform: translateY(0);
        opacity: 1
    }
    49% {
        transform: translateY(-0.5rem);
        opacity: 0
    }
    51% {
        transform: translateY(0.5rem);
        opacity: 0
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.next {
    animation-name: forwarder;
    animation-duration: 500ms;
}

.prev {
    animation-name: backwarder;
    animation-duration: 500ms;
}

.num-next {
    animation-name: num-forwarder;
    animation-duration: 500ms;
}

.num-prev {
    animation-name: num-backwarder;
    animation-duration: 500ms;
}

.reload:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    cursor: pointer;
}
