@keyframes forwarder {
    0% {
        transform: translateX(0rem);
        opacity: 1
    }
    49% {
        transform: translateX(-2rem);
        opacity: 0
    }
    51% {
        transform: translateX(2rem);
        opacity: 0
    }
    100% {
        transform: translateX(0rem);
        opacity: 1
    }
}

@keyframes backwarder {
    0% {
        transform: translateX(0);
        opacity: 1
    }
    49% {
        transform: translateX(2rem);
        opacity: 0
    }
    51% {
        transform: translateX(-2rem);
        opacity: 0
    }
    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes num-forwarder {
    0% {
        transform: translateY(0);
        opacity: 1
    }
    49% {
        transform: translateY(0.5rem);
        opacity: 0
    }
    51% {
        transform: translateY(-0.5rem);
        opacity: 0
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes num-backwarder {
    0% {
        transform: translateY(0);
        opacity: 1
    }
    49% {
        transform: translateY(-0.5rem);
        opacity: 0
    }
    51% {
        transform: translateY(0.5rem);
        opacity: 0
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}
/*标签顺时针旋转*/
@keyframes tagger-down {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}
@keyframes tagger-up {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-90deg);
    }
}

.right {
    animation-name: forwarder;
    animation-duration: 500ms;
}

.left {
    animation-name: backwarder;
    animation-duration: 500ms;
}

.down {
    animation-name: num-forwarder;
    animation-duration: 500ms;
}

.up {
    animation-name: num-backwarder;
    animation-duration: 500ms;
}

.clockwise {
    padding: 0.2rem 0.5rem;
    margin: 0.5rem;
    writing-mode: horizontal-tb;
    animation-name: tagger-down;
    animation-duration: 501ms;
    transform-origin: 0.8rem;
    color: white;
}

.anticlockwise {
    /*awsl。这个太珏望了！
    当这个border设为1px的时候，浏览器在动画进行中有可能会拒绝绘制这根细细的线，我：“？？？”*/
    border-right-width: 2px!important;
    padding: 0.56rem 0.17rem;
    margin: .6rem .4rem .5rem;
    writing-mode: vertical-lr;
    animation-name: tagger-up;
    animation-duration: 501ms;
    transform-origin: 1rem .8rem;
    color: white;
}


.reload:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    cursor: pointer;
}
